.btn {
    background-color: #9E8654;
    color: white;
}

.bg-primary {
    background-color: #9E8654 !important;
    color: white;
}

.navbar {
    font-family: roboto;
    font-weight: bolder;
}

p {
    font-family: Grandstander;
    font-weight: bolder;
    color: white;
}